<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" class="sider-wrapper">
    <div class="img-icon-bank">
      <img src="./assets/icons8-bank-96.png" class="img-fluid" alt="">
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" class="mt-2">
      <i class="pi pi-home icons"></i>
      <li nz-submenu nzTitle="Bank Details" nzIcon="." class="ms-1">
        <ul>
          <li  nz-menu-item routerLink="Dashboard">Dashboard</li>
          <li nz-menu-item routerLink="Transcations">Transactions</li>
        </ul>
      </li>

      <i class="pi pi-building icons"></i>

      <li class="ps-3 ant-menu-submenu-branches" nz-submenu nzTitle="Branches" nzIcon="...." >
      
        <ul>
          <li nz-menu-item routerLink="Madhapurbranch1">Madhapur Branch 1</li>
          <li nz-menu-item routerLink="Madhapurbranch2">Madhapur Branch 2</li>
        </ul>
      </li>
      <div class="ant-menu-submenu-contact-block">
        <li nz-menu-item class="ms-1 ant-menu-submenu-contact" >
          <span nz-icon nzType="file" class="sider-image-highlight" ></span>
          <span routerLink="contact" class="ant-menu-submenu--heading" >Contact</span>
        </li>

      </div>
    
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="d-flex  ">
        <div>
          <i class="pi pi-list ms-3" (click)="isCollapsed = !isCollapsed"></i>
        </div>
        <div class="d-flex heading-wrapper mt-2">
         <div style="margin-top: -8px;" class="heading-wrapper-content">
          <span class="p-input-icon-left" >
            <i class="pi pi-search ms-4"></i>
            <input style="height: 45px;  margin-bottom: -20px;" class="ms-4  " type="text" pInputText [(ngModel)]="value" />
          </span> 
         </div>      
          <h1 >S S V Banks</h1>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>Bank Dashboard</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <span nz-icon nzType="alert" nzTheme="outline"></span>        
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>