<p-messages [(value)]="msgs"></p-messages>


<div class="grids mr-5">
    <div class="col-12 md:col-6 lg:col-3">
        <div class="surface-card shadow-2 p-3 border-round">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Transactions</span>
                    <div class="text-900 font-medium text-xl">152</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    style="width:2.5rem;height:2.5rem">
                    <i class="pi pi-sort-alt text-blue-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">24 new </span>
            <span class="text-500">Today Transactions</span>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="surface-card shadow-2 p-3 border-round">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Revenue</span>
                    <div class="text-900 font-medium text-xl">$2.100</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                    style="width:2.5rem;height:2.5rem">
                    <i class="pi pi-paypal text-orange-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">%52+ </span>
            <span class="text-500">Today Income</span>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="surface-card shadow-2 p-3 border-round">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Customers</span>
                    <div class="text-900 font-medium text-xl">28441</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                    style="width:2.5rem;height:2.5rem">
                    <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">520 </span>
            <span class="text-500">Newly registered</span>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="surface-card shadow-2 p-3 border-round">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Today Complaints</span>
                    <div class="text-900 font-medium text-xl">152 Unread</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-purple-100 border-round"
                    style="width:2.5rem;height:2.5rem">
                    <i class="pi pi-arrow-down-left text-purple-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">85 </span>
            <span class="text-500">responded</span>
        </div>
    </div>
</div>


<div class="d-flex mt-2" >
    <div class="">
        <div class="">
            <p-card>
                <p-chart type="doughnut" [data]="doughnutChartData"></p-chart>
            </p-card>
        </div>
    </div>
    <div class="w-75 ms-3 h-25rem mt-6">
        <nz-progress [nzPercent]="30"></nz-progress>
        <nz-progress [nzPercent]="50" nzStatus="active"></nz-progress>
        <nz-progress [nzPercent]="70" nzStatus="exception"></nz-progress>
        <nz-progress [nzPercent]="100"></nz-progress>
        <nz-progress [nzPercent]="50" [nzShowInfo]="false"></nz-progress>
        <div>
            <div class="card mt-8">
                <p-megaMenu [model]="items"></p-megaMenu>
            </div>
        </div>
    </div>
 

</div>


<div style="width: 100%; gap:20px" class=" text-center d-flex">
    <p-card style="" >
        <p class="m-0 ">
           <img src="../../assets/plus.gif" alt="" width="100px" >
        </p>
        <p-button (click)="showDialog()" label="New Account"></p-button>
        <p-dialog header="Header" [(visible)]="visible" [style]="{width: '50vw'}">
            <p>hello world
            </p>
        </p-dialog>
    </p-card>
    <p-card  >
        <p class="m-0 ">
           <img src="../../assets/1.jpg" alt="" width="100px" style="border-radius: 50%; width: 80px;height: 80px;">
        </p>
        <h6 class="mt-4">Nagesh Malik </h6>
    </p-card>
    <p-card >
        <p class="m-0 ">
           <img src="../../assets/1.jpg" alt="" width="100px" style="border-radius: 50%; width: 80px;height: 80px;">
        </p>
        <h6 class="mt-4">Kumar Nigam</h6>
    </p-card>
    <p-card >
        <p class="m-0 ">
           <img src="../../assets/1.jpg" alt="" width="100px" style="border-radius: 50%; width: 80px;height: 80px;">
        </p>
        <h6 class="mt-4">Akshay Pandey</h6>
    </p-card>
    <p-card >
        <p class="m-0 ">
           <img src="../../assets/1.jpg" alt="" width="100px" style="border-radius: 50%; width: 80px;height: 80px;">
        </p>
        <h6 class="mt-4">Ashlok Tiwari</h6>
    </p-card>
</div>

<div class="card mt-3">
    <p-table
        [value]="customers"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th style="width:25%">Name</th>
                <th style="width:25%">Country</th>
                <th style="width:25%">Company</th>
                <th style="width:25%">Representative</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td>{{ customer.name }}</td>
                <td>{{ customer.country.name }}</td>
                <td>{{ customer.company }}</td>
                <td>{{ customer.representative.name }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
</div>





