.grids{
    gap: 10px;
    display: flex;
    
    
  }
.newAcc{
  border: 3px solid rgb(0, 4, 255);
  border-radius: 10px;
}
.account-activites-block{
  margin-top: 50px;
  justify-content: space-between;
  text-align: center;
}
 .accounts-title{
  text-align: center;
  }
  .transaction-title{
text-align: center;
position: relative;
    top: -49px;

}
  .img-content-block{
  background-color: rgb(120, 122, 247);;
border-radius: 50%;

    width: 90px;
    height: 90px;
    overflow: hidden;
    margin: 0px auto  !important;
  }
  .img-content-block img{
width: 100%;
height: 100%;
border-radius: 50%;
object-fit: cover;

  }
  .img-container-wrapper{
    justify-content: space-between;
  }
  .surface-card-first {
    background-color:#c4c4ff!important;
    
 
    
  }
  .surface-card-second{
background-color: #ffe9d5!important;
  }
  .surface-card-third{
    background-color: #d2e4eb !important;
  }
  .surface-card-fourth {
    background-color: #d1b6eb !important;
  }

@media only screen and (min-width: 768px) and (max-width: 1024px){
  .transaction-wrapper {
    flex-wrap: wrap;
    margin-right: 0px !important;
    justify-content: space-evenly;
  }
  .transaction-wrapper-block{
    width: 47%;
  }
  .p-card-images{
width: 30%;
  }
  .img-container-wrapper{
    flex-wrap: wrap;
    gap: 15px;
  }
  .transaction-heading{
    text-align: center;
  }
  .account-activites-block {
    flex-wrap: wrap;
}
  .account-activites-block .accounts-title {
    width: 100%;
    text-align: center;
    margin: 20px 0px;
}

.account-activites-block {
  margin-top: 20px;
}
.transaction-title{
  width: 100% ;
  margin: 20px 0px;
  position: relative;
  top: 0;

}
.account-activites-chart{
  display: flex;
  flex-direction: column;
}
.account-activites-chart-first{
  // transform: translateY(-45px);
  margin: 0 auto;



}
.branches-details-block .p-megamenu-horizontal .p-megamenu-root-list {
  justify-content: space-between;
}
.heading-wrapper-content {
  margin-top: -5px;
}
.amounttransfer-title{
  font-size: 22px;
  text-align: center;
  margin: 15px 0px;
}

}


  //mobile responsive starts here

  @media only screen and (max-width: 767px){
    .transaction-heading{
      text-align: center;
      font-size: 15px;
    }
    .transaction-wrapper{
      flex-direction: column;
      margin-right: 0px !important;
      gap: 5px;
    }
    .account-activites-block{
      margin-top: 20px;
      flex-direction: column;
    }
    .account-activites-block .accounts-title {
      width: 100%;
      text-align: center;
      font-size: 17px;
  }
  .transaction-title{
    font-size: 17px;
    width: 100% !important;
    text-align: center !important ;
    transform: translateY(375px);
  }
  .account-activites-chart{
    display: flex;
    flex-direction: column;
  }
  .account-activites-chart-first{
    transform: translateY(-45px);

  }

  .account-activites-chart-second{
    width: 100% !important;
    height: auto !important;
    margin: 0px !important;
  }
  .branches-title{
    font-size: 17px;
    text-align: center;
  }
  .amounttransfer-title{
    margin-top: 20px;
    font-size: 17px;
    text-align: center;
    margin-bottom: 20px;

  }
  .img-container-wrapper {
    flex-wrap: wrap;
}
.img-container-wrapper .p-card-images{
width: 46%;
margin: 5px 5px;
}
.img-container-wrapper .p-card-images button{
  padding: 6px 8px;
}

.amount-cus{
  font-size: 18px;

}

  
  }
  //mobile responsive ends here
